@import "/home/dave/.cache/wal/colors-rofi-dark.rasi"

configuration {
  modi: "window,drun,ssh,combi";
  font: "SauceCodePro Nerd Font 10";
  combi-modi: "window,drun,ssh";
  icon-theme: "Adiwata";
  show-icons: true;
}

#window {
  width: 340px;
  border-radius: 10px;
  border: 2px;
  border-color: @foreground;
}

