@import '/home/dave/.cache/wal/colors-waybar.css';

* {
  color: @color1;  
  padding: 0;
  margin: 0;
  min-height: 0;
}

window#waybar {
  background: transparent;
  font-size: 12px;
}

#workspaces {
    margin: 4px 10px 1px 3px;
    padding: 2px 4px;
    border-radius: 4px;
    color: @foreground;
    background: white;
    opacity: 0.8;
}

#workspaces button {
    font-size: 2px;
    padding: 0;
    margin: 0 1px;
    border-radius: 2px;
    border: 0px;
    transition: all 0.3s ease-in-out;
    background: rgba(0,0,0,0.3);
}

#workspaces button.active {
    background: @color4;
    border-radius: 2px;
    min-width: 40px;
    transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
    border-radius: 15px;
}


