@import '/home/dave/.cache/wal/colors-waybar.css';

* {
    font-family: Roboto, Arial, sans-serif;
    padding: 0;
    margin: 0;
    min-height: 0;
    color: rgba(0,0,0,0.8);  
}

window#waybar {
    background: transparent;
    font-size: 10px;
}

window#waybar.empty #window {
    opacity: 0;
}


#clock, #custom-date {
    font-weight: bold;
    margin: 4px 10px 1px 3px;
    padding: 2px 4px;
    border-radius: 4px;
    background: white;
    opacity: 0.9;
}

#custom-date {
    margin-right: 3px;
}

#taskbar, #window {
    margin: 4px 4px 1px 3px;
    padding: 1px 1px 0px 1px;
    border-radius: 4px;
    background: white;
    opacity: 0.9;
    font-weight: bold;
}

#taskbar {
    margin-left: 6px;
    padding-left: 3px;
}

#taskbar.empty {
    background: transparent;
    opacity: 0;
}

#window {
    padding: 1px 8px 0px 4px;
}

#window.empty {
    opacity: 0;
}

#workspaces {
    margin: 4px 10px 1px 3px;
    padding: 2px 4px;
    border-radius: 8px;
    background: white;
    opacity: 0.9;
    font-size: 0px;
}

#workspaces button {
    font-size: 0px;
    margin: 0 1px;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
    background: rgba(0,0,0,0.3);
}

#workspaces button.active {
    background: @color4;
    border-radius: 15px;
    min-width: 30px;
    transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
    border-radius: 15px;
    border: none;
}

 

