[Unit]
Description=Randomly change the wallpaper

[Service]
Type=oneshot
ExecStart=/run/current-system/sw/bin/sh -c '/home/dave/.dotfiles/scripts/wallhaven -c wallpaper | /home/dave/.dotfiles/scripts/setwallpaper'
