@import '/home/dave/.cache/wal/colors-waybar.css';

@define-color bg alpha(@background, 0.8);
@define-color fg @foreground;
@define-color alt @color4;

window.bar {
    background-color: @bg;
    color: white;
}

window > box {
    margin: 0px 8px 0px 8px;
}

.workspaces {
  margin: 0px 0px 0px 10px;
}

.workspace {
    padding: 0px 0px 0px 7px;
    margin: 0px 4px 0px 0px;
    background: transparent;
    border-radius: 0px;
    border: none;
    opacity: 0.4;
    border-top: 4px solid transparent;
}

.workspace.active {
    opacity: 1;
    border-top: 4px solid @alt;
}

.workspace-label {
    margin: 0px 10px 0px 0px;
    font-weight: normal;
}

.workspace.active .workspace-label {
    font-weight: bold;
    color: @alt;
}

.workspace .app-icon {
    margin: 2px 6px 0px 0px;
}

.wallhaven {
    background: transparent;
    border: none;
}

.clock {
    background: transparent;
    padding: 0px 10px 0px 10px;
}

.systemtray {
    background: transparent;
    padding: 0px 8px 0px 8px;
    font-weight: bold;
}

.systemtray button  {
    border: none;
    background: transparent;
    margin: 0px 0px 0px 0px;
    padding: 0px 3px 0px 3px;
}

levelbar block,
highlight {
    min-height: 10px;
}
